<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <clear />
      <add name="Crossword"
           connectionString="data source=tcp:oatmealrains.database.windows.net,1433;initial catalog=Crossword;persist security info=True;user id=oatmealrains;password=Iamawesome82$;multipleactiveresultsets=True;application name=EntityFramework"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>